.navbar-wrapper {
    border:0.3px solid rgb(180, 151, 76);
    border-radius: 50px;
    margin-left: 10px;
  }
  .menu-wrapper__item--link-icon {
    font-size: 30px;
    color: rgb(180, 151, 76);
    transition: 300ms ease;
  }
  .menu-wrapper__item--link-icon:hover{
    color: rgb(228, 188, 86);
  }