# Enable rewrite engine
RewriteEngine On

# Set the base URL
RewriteBase /

# Let index.html load normally
RewriteRule ^index\.html$ - [L]

# If the request is not a real file or folder...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...then route everything to index.html
RewriteRule . /index.html [L]
